@font-face { /*Inserir uma fonte nova*/
    font-family: SpaceGrotesk ;
    src: url("Font/SpaceGrotesk-Medium.ttf") format("truetype");
    font-style: normal;
}

body{
    margin: 0px;
    box-sizing: border-box; /*Não alterar o valores das proporções com a borda ou pading*/
    height: auto;
    width: auto;
    background-color: hsl(0, 0%, 100%) ; /* White */
    font-family: "SpaceGrotesk"; /*Definir fonte padrão do body*/
}

p {
    color: aliceblue;
}


.dot2 {
  display: inline-block;
  z-index: 10;
  left: 4%;
  top: -8%;
  position: relative;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  border: 1px solid white;
}

/*Cartao Atras*/
#Card_Back{
    background-image: url(Imgs/bg-card-back.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: hsl(0, 0%, 100%) ;
    overflow: hidden;
    padding: 8%;
    box-sizing: border-box;
    display:flex;
    justify-content: space-evenly;
}
#cvc{
    color: white;
    position: relative;
    left: 150px;
    top: -28px;
    letter-spacing: 3px;
}

/*Cartao Frente*/
#Card_Front{
    background-image: url(Imgs/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: hsl(0, 0%, 100%) ;
    padding: 15px 20px 20px 25px;
    overflow: hidden;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
}
#updatedNumber {
    font-size: 25px; /* Adjust the font size as needed */
    letter-spacing: 4px; /* Adjust the letter spacing as needed */
}

#favicon{
    height: 100%;
}
#Num{
    height: 15%;
    display: flex;
    justify-content: center;
    font-size: x-large;
    letter-spacing: 5px;
}
#NameAndDate{
    height: 20%;
    display:flex;
    text-transform: uppercase;
    letter-spacing: 2px;
    justify-content: space-between;
}

.exp-cvc-inputs {
    display: flex;
    justify-content: space-between;
  }
  
  .exp-cvc-inputs > div {
    flex: 1;
  }
  
  .date-inputs {
    display: flex;
  }
  
  .date-inputs input {
    margin-right: 10px;
  }
  

  #cardData {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #Card_Data {
    justify-content: center;
    align-items: center;
  }
  
  #Card_Data {
    width: 40%; /* Adjust the width as needed */
    color: hsl(279, 6%, 55%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: flex-start; /* Align to the left */
}


form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 3px;
    color: hsl(278, 68%, 11%);
    margin-bottom: -5px;
  }
  
  input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px;
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border: none;
  }

  .error {
    color: red; /* Text color for error messages */
    font-size: 12px; /* Font size for error messages */
    margin-top: 5px; /* Spacing above the error messages */
}

@media screen and (orientation: landscape) and (max-width: 2000px) { /* Tela para desktop: paisagem*/
    body{
        background-image: url(Imgs/bg-main-desktop.png);
        background-repeat: no-repeat;
        background-position: 0px 0px;
        background-size: auto;
        height: max-content;
    }
    #Card_Front{
        width: 447px;
        height: 245px;
        margin-top: 10%;
        margin-left: 10%;
    }
    #Card_Back{
        width: 447px;
        height: 245px;
        margin-top: 3%;
        margin-left: 20%;
    }

    /*Formulário com dados*/
    #Card_Data{
        width: 30%;
        color:hsl(279, 6%, 55%);
        float: right;
        box-sizing: border-box;
        display: inline-block;
    } 
    
}
@media screen and (orientation: landscape) and (max-width: 1440px) { /* Tela para desktop: paisagem*/
    body{
        background-image: url(Imgs/bg-main-desktop.png);
        background-repeat: no-repeat;
        background-position: 0px 0px;
        background-size: auto;
    }
    #Card_Front{
        width: 447px;
        height: 245px;
        margin-top: 10%;
        margin-left: 10%;
    }
    #Card_Back{
        width: 447px;
        height: 245px;
        margin-top: 3%;
        margin-left: 20%;
    }

    /*Formulário com dados*/
    #Card_Data{
        width: 30%;
        color:hsl(279, 6%, 55%);
        float: right;
        box-sizing: border-box;
        display:flex;
        flex-direction: column;
    } 
    
}

@media screen and (orientation: portrait) and (max-width: 600px) { /* Tela para mobile: retrato */
    body{
        background-image: url(Imgs/bg-main-mobile.png);
        background-repeat: no-repeat;
        background-position: 0px 0px;
        background-size: 100% auto;
    }
    #Card_Front{
        width: 300px;
        height: 164.4px;
        margin-top: 30%;
        margin-left: 5%;
    }
    #Num{
        font-size: medium;
    }
    #NameAndDate{
        font-size: x-small;
    }
    #Card_Back{
        width: 300px;
        height: 164.4px;
        margin-top: -60%;
        margin-left: 20%;
    }
    /*Formulário com dados*/
    #Card_Data{
        width: 30%;
        color:hsl(279, 6%, 55%);
        box-sizing: border-box;
        display:flex;
        flex-direction: column;
     }
   
}
